html{
    color: #fff;
    scroll-behavior: smooth;
    
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(#4f4f4f, silver) ;
}

.cab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cab .logo{
    width: 90px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid white;
    color: white ;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    transition: 0,3s;
}
.cab a:hover .logo{
    background: linear-gradient(#e66465, #9198e5);
    color: aquamarine;
    border: 1px solid aquamarine;
    transition: 0.3s;
}
.cab .menu ul{
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.cab .menu .btn {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.cab .menu .btn:hover {
    background: linear-gradient(#e66465, #9198e5);
    color: aquamarine;
    padding:10px ;
    border-radius: 15px;
    transition: 0.3s;
}

.cab .menu li a{
    color: white ;
    font-size: 20px ;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: 0,3s;
}
.cab .menu li a:hover{
    background: linear-gradient(#e66465, #9198e5);
    color: aquamarine;
    padding:12px 20px ;
    border-radius: 25px;
    transition: 0.3s;
}
.home{
    display: flex;
    min-height: calc(100vh -125px);
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}
.home .infos{
    display: flex;
    flex-direction: column;
    gap: 17px;
    letter-spacing: 1px;
    padding: 0px 15px;
    max-width: 50%;
}
.home .infos h1{
    font-family: "Raleway" sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
.home .infos p{
    font-family: "Raleway" sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.home .redes-sociais{
    display: flex;
    padding-bottom: 15px ;
    gap: 20px;
    margin-top: 10px;
}
.home .redes-sociais a i{
    background-color: rgb(69, 236, 236);
    border: 1px #fff solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0,3s;
}
.home .redes-sociais a i:hover{
    color:  rgb(223, 159, 234);
    border: 1px solid rgb(223, 159, 234);
    transform: scale(1.1);
    transition: 0.3s;
}
.home .container-foto .foto img{
    border-radius: 50%;
    width: 100%;
}
.home .foto.sombra-interna{
    background: linear-gradient(to left,#c664e6, #91e5d4, pink);
    border-radius: 50%;
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}
.projetos {
	padding: 70px 0 70px;
}

.projetos .titulo {
	text-align: center;
	padding-bottom: 60px;
	font-size: 45px;
	font-weight: 500;
	text-transform: uppercase;
}
.projetos .titulo:hover{
    color: rgb(223, 159, 234);
    transition: 0.3s;
    cursor: pointer;
}

.projetos .container-projetos {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
}

.projetos .projeto {
	max-width: 260px;
	max-height: 500px;
	position: relative;
	display: none;
}

.projetos .projeto.ativo {
	display: block;
}

.projetos .projeto img {
	height: 100%;
}

.projetos .projeto h3 {
	background-color: #040203;
	width: 100%;
    padding: 10px 20px 10px;
	position: absolute;
	bottom: 0;
    text-align: center;
}
.projetos .projeto .infos-projeto {
	background-color: #040203;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-weight: 600;
	opacity: 0;
	transition: 0.3s;
	padding: 20px;
}

.projetos .container-projetos .projeto:hover .infos-projeto {
	opacity: 0.7;
	background-color: #000;
}
.projetos .mostrar-projetos{
    background-color: rgb(187, 148, 234);
    color: rgb(20, 44, 105);
    border: #c6f35c 2px solid;
    border-radius: 15px;
    width: 180px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.projetos .mostrar-projetos:hover{
    background: linear-gradient(#9198e5, #d364e6);
    transition: 0.3s;

}
.projetos .mostrar-projetos.remover{
    display: none;
}
.projetos .mostrar-projetos.esconder{
    display: contents;
}

/* .projetos .mostrar-projetos.menos {
} */

.screen {
    width: 80px;
    height: 38px;
    background-color: #6d6d6d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.screen .indicador{
    width: 38px;
    height: 38px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.screen.dark {
    background-color: #a0a0a0;
}

.screen.dark .indicador {
    background-color: white;
    left: 42px;
}

/* .home .foto.sombra-interna img.dark {
    background: linear-gradient(to left,#4f1c60, #2e5e54, rgb(98, 65, 70));
    animation: gradient-animation 5s ease infinite;
} */

body.dark {
    background: linear-gradient(#dfa6f2, #aeede1, pink) ;
    color: #31435a;
}

/* header.dark {
    color: #040203;
} */


@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}
@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }