.cab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cab .logo{
    width: 90px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid white;
    color: white ;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    transition: 0,3s;
}
.cab .logo h1 {
    font-size: 28px;
}

.cab a:hover .logo{
    background: linear-gradient(#e66465, #9198e5);
    color: aquamarine;
    border: 1px solid aquamarine;
    transition: 0.3s;
}
.cab .menu ul{
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.cab .menu .btn {
    background: transparent;
    border-radius: 15px;
    padding: 6px;
    cursor: pointer;
    width: 38px;
    height: 38px;
}
    
.cab .menu .btn:hover {
    background: linear-gradient(#e66465, #9198e5);
    color: aquamarine;
    border-radius: 15px;
    transition: 0.3s;
}

.cab .nav {
    margin-left: 10px;
}

.screen {
    width: 80px;
    height: 38px;
    background-color: #6d6d6d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    transition: 0.3s
}

.screen:hover {
    background: linear-gradient(#e66465, #9198e5);
}

.screen .indicador{
    width: 38px;
    height: 38px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.screen.dark {
    background-color: #a0a0a0;
}

.screen.dark .indicador {
    background-color: white;
    left: 42px;
}

body.dark {
    background: linear-gradient(#dfa6f2, #aeede1, pink) ;
    color: #31435a;
}

.cab .menu li a{
    color: white ;
    font-size: 20px ;
    text-transform: capitalize;
    padding: 10px 20px;
}
.cab .menu li a:hover{
    background: linear-gradient(#e66465, #9198e5);
    color: aquamarine;
    padding:12px 20px ;
    border-radius: 25px;
    transition: 0.3s;
}